{% extends 'base.html.twig' %}

{% block title %}Hello Netfriendzooo!{% endblock %}

{% block body %}
{# <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/cygwin64/home/eskar/netfriendz/src/Controller/NetfriendzController.php'|file_link(0) }}">src/Controller/NetfriendzController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/cygwin64/home/eskar/netfriendz/templates/netfriendz/index.html.twig'|file_link(0) }}">templates/netfriendz/index.html.twig</a></code></li>
    </ul>
</div> #}

<section class="articles">
    {% for article in articles %}
        <article>
            <h2>{{ article.title }}</h2>
            <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la categorie {{ article.category.title }}</div>
            <div class="content">
            
                <img src="{{ article.image }}" alt="">

                {{ article.n | raw }}

                
                <a href="{{ path('blog_show', {'id': article.id }) }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
    {% endfor %}
</section>
{% endblock %}
